body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.about--div {
  margin: auto;
  padding-left: 20px;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

legend {
  margin: 20px;
}


/*blog style*/
#mainblog--div {
  margin: auto;
  padding: auto;
  padding-bottom: 20px;

  border: 2px solid orange;
}

.blog--div {
  margin: auto;
  padding-left: 20px;

  border: 2px solid white;
}

.asideblog--div {
  position: fixed;
  display: flex;

  width: 240px;
  height: 60%;

  background: dimgrey;
  /*border: 2px solid white;*/
}

.aside--blog {
  height: auto;
  margin: auto;

  display: flex;
  flex-direction: column;

  /*border: 2px solid orange;*/
}

.aside--blog nav {
  margin: auto;
  display: flex;

  /*border: 2px solid pink;*/
}

.aside--blog ul {
  margin: auto;
  padding-left: 0px;
  /*border: 2px solid blue;*/
}

.aside--blog li {
  margin: 20px 0px;

  /*border: 2px solid violet;*/
}

.bloglink--div {
  text-decoration: none;
  font-family: 'Times';
  font-size: 0.9rem;
}



#paragraph--div {
  margin: 0px 300px;

  border: 2px solid coral;
}

#paragraph--div h2 {
  margin: auto;
  margin: 20px 0px;
  font-family: 'Arial', sans-serif;
  font-size: 1.6rem;

  border: 2px solid lightblue;
}

.frameblog--div {
  margin: 0px 300px;
  margin-bottom: 20px;

  border: 1px solid white;
  border-radius: 15px;
}

.frameblog--div h3 {
  margin: auto;
  padding-left: 20px;
  font-size: 1.4rem;

  /*border: 2px solid lightcoral;*/
}

.frameblog--div p {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  font-size: 1.2rem;
  background: dimgrey;
  border: 1px solid gray;
  border-radius: 0px 0px 15px 10px;

}
























#form--div {
  /*left: 0px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  border: 2px solid lightblue;
}

form {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 2px solid blue;
}

.label--input {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: right;

  border: 2px solid orange;
}

input {
  margin: 20px 20px;
}

.fieldset--div {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 2px solid red;
}

.fieldset--div label {
  width: auto;

  border: 2px solid orange;
}

.fieldset--div input {

  border: 2px solid blue;
}

#fieldset--first {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;

  border: 2px solid dimgrey;
  border-radius: 12px;
}

.inlab--div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.inlab--div input {
  margin-left: 40px;
}


#fieldset--second {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: left;

  border: 2px solid dimgrey;
  border-radius: 12px;
}

.inlab--divtwo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.inlab--divtwo input {
  margin-left: 60px;
}


#select--div {
  display: flex;
  align-items: center;
  border: 2px solid navy;
}

#select--div label {
  margin: 0px 20px;
  text-align: left;
}

textarea {
  width: 400px;
  height: 100px;
  margin-top: 20px;
}

.btn-signup {
  margin-top: 20px;
  padding: 5px 20px;
}

.remember--div {
  display: flex;
  align-items: center;
}

#btn--rmlocalstorage {
  display: flex;
  align-items: center;

  border: 2px solid blue;
}