:root {
  --bg-color: #fff;
  --text-color: #000;
}

[data-theme="dark"] {
  --bg-color: #3F3F3F;
  --text-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding-top: 10px;
  font-family: 'One serif';
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  padding: 5px 10px;
  font-family: 'karla', sans-serif;
  font-size: 1rem;
}
