:root {
  --bg-color: #fff;
  --text-color: #000;
  --bd-color: #000;
}

[data-theme="dark"] {
  --bg-color: #3F3F3F;
  --text-color: #fff;
  --bd-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;

  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--bd-color);
  font-family: 'One serif';

  /*border: 2px solid lightblue;*/
}

.frameblog--div {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--bd-color);
}

.btn--dark {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-family: 'karla', sans-serif;
  font-size: 1rem;

  /*border: 2px solid blue;*/
}

.home--div {
  margin: 0px 50px;
}

.routes--class {
}